.pagesContainer {
    margin-top: 70px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh-70px);
    width: 100%;
    background-image: url('../../../img/bg-download.png');
}

.downloadIcon i {
    font-size: 30px;
    margin: 0 15px;
}

h1, p, i {
    color: #285c4d
}