.pagesContainer {
    margin-top: 70px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh-70px);
    width: 100%;
    background-image: url('../../../img/bg-download.png');
}

.pagesContainer img {
    min-width: 25%;
    max-width: 30%;
}

.aboutHeader h1 {
    font-family: "Russo One"
}

.aboutHeader h1 font {
    color: #fded09;
}